.us {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h2{
    margin: 12px;
    padding: 12px;
 text-align: center;
}